/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gold;
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
}

img {
    -webkit-user-drag: none;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Разделяем логотип и остальные элементы */
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    cursor: pointer;
    font-size: 24px;
}

.logo:hover {
    color: rgb(194, 13, 13);
    transition: 0.5s all ease-in-out;
}

.menu-icons {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none; /* Hide menu toggle by default */
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.nav-links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 200px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
}

.text-nav {
    position: relative;
}

.card-katalog {
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

.katalog {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 1px;
    margin-right: 80px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.katalog:hover {
    color: rgb(194, 13, 13);
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: rgb(194, 13, 13);
}

/* Стили для поиска */
.search {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}
.search-main {
    cursor: pointer;
    display: flex; 
    padding: 5px 5px;
}
.search-main:hover {
    transition: all 0.25s ease-in-out;
    background-color: #2b2b2b;
}
.search-text {
    margin-right: 6px;
    margin-top: 5px;
}
.search-button {
    width: 30px;
    height: 30px;
    background-image: url('./img-site/search.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(45%) sepia(92%) saturate(1291%) hue-rotate(44deg) brightness(97%) contrast(103%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.input {
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    height: 0;
    width: 80%;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
    padding-right: 40px;
    box-sizing: border-box;
}

.input.active {
    opacity: 1;
    height: auto;
    padding: 10px;
    margin-top: 10px;
}

.avatar {
    display: flex;
    cursor: pointer;
}
.vxod {
    margin-right: 20px;
    padding: 5px 5px;
}
.registratsiya {
    padding: 5px 5px;
}
.registratsiya:hover {
    transition: all 0.25s ease-in-out;
    background-color: #2b2b2b;
}
.vxod:hover {
    transition: all 0.25s ease-in-out;
    background-color: #2b2b2b;
}


/* Общие стили для карточек */
.card {
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    text-decoration: none;
}

.card-image {
    width: 150px;
    height: auto;
    max-width: 100%;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-title {
    font-size: 38px;
    color: #fff;
    margin-top: 0;
}

.card-text {
    margin-top: 1px;
    color: #ffffff;
    flex: 1;
}

.button {
    background-color: rgb(194, 13, 13);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.button:hover {
    background-color: rgb(145, 7, 7);
}

.mobile-script-text {
    position: relative;
    top: -50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-windows {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.btn-close {
    position: relative;
    top: -95px;
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.btn-close:hover,
.btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Общие стили для карточек */
.card {
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    text-decoration: none;
}

.card-image {
    width: 150px;
    height: auto;
    max-width: 100%;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-title {
    font-size: 38px;
    color: #fff;
    margin-top: 0;
}

.card-text {
    margin-top: 1px;
    color: #ffffff;
    flex: 1;
}

.button {
    background-color: rgb(194, 13, 13);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.button:hover {
    background-color: rgb(145, 7, 7);
}

.mobile-script-text {
    position: relative;
    top: -50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-windows {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.btn-close {
    position: relative;
    top: -95px;
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.btn-close:hover,
.btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .search-button {
        display: flex;
        width: 25px;
        height: 25px;
    }

    .katalog {
        display: flex;
        padding: 5px 10px;
        font-size: 14px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: left; 
    }
    .nav-links a {
        text-align: left; 
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    .menu-toggle.active ~ .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ffffff;
        border-top: none;
        z-index: 1000;
    }

    .menu-toggle.active ~ .nav-links li {
        margin-right: 0;
    }

    .menu-toggle.active ~ .nav-links a {
        padding: 10px 20px;
    }

    .mobile-script-text {
        display: none;
    }

    .button {
        display: none;
    }

    .input {
        margin-top: 15px;
        width: 100%;
    }

    .search {
        max-width: 100%;
    }

    .input {
        margin-top: 10px;
    }

    .input.active {
        margin-top: 15px;
    }

    .menu-icons {
        display: flex;
        align-items: center;
    }

    .search-button {
        margin-right: 10px;
    }

    .katalog {
        display: none;
        margin-right: 10px;
    }

    .avatar {
        display: none;
    }
}