@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Eater&family=Kdam+Thmor+Pro&family=Montserrat:wght@700&family=Mukta&family=Noto+Serif&family=Rubik:wght@500&family=Signika+Negative:wght@500&family=Unbounded:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color :rgb(255, 249, 217);
}
.katalog{
    width: 100px;
    height: 20px;
    border: 1px solid rgb(28, 19, 19);
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(224, 223, 223);
    text-align: center;
    cursor: pointer;
    list-style-type: none;
    position: absolute;
    left: 40px;
    top: 10px;
    background-color: transparent;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    opacity: 1;
}

.site-name{
    position: fixed;
    top: 5px;
    left: 130px;
    color: rgb(255, 249, 217);
    font-size: 45px;
    font-family: 'Cabin Sketch', sans-serif;
}
.katalog{
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 500px;
    color: rgb(255, 249, 217);
}
.top-manga {
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 650px;
    color: rgb(255, 249, 217);
    font-weight: 500;
}
.top-manga:hover {
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
 }
.top-manga:hover:not(:active) {
    opacity: 0.8;
}
  
.new-anime{
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 780px;
    color: rgb(255, 249, 217);
    font-weight: 500;
}
.new-anime:hover {
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
 }
.new-anime:hover:not(:active) {
    opacity: 0.8;
}
.search-icon{
    color:  rgb(255, 249, 217);
    position: fixed;
    left: 1150px;
    top: 20px;
}
.search{
    position: fixed;
    top: 15px;
    left: 1180px;
    border: 0;
    border-radius: 16px;
    width: 200px;
    height: 30px;
    
}
.regestration{
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 1600px;
    color: rgb(255, 249, 217);
    font-weight: 500;
}
.regestration:hover {
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
 }
.regestration:hover:not(:active) {
    opacity: 0.8;
}
.dropdown{
    position: fixed;
    top: 8px;
    left: 530px;
    display: inline-block;
}
  
.dropdown-button{
    background-color: black;
    color: rgb(255, 249, 217);
    padding: 10px;
    border: 0px;
    cursor: pointer;
}
  
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    color: rgb(255, 254, 245);
    list-style: none;
    padding: 0px;
    margin: 0px;
}
  
.dropdown-content li a{
    display: block;
    padding: 10px;
    text-decoration: none;
}
  
.dropdown:hover .dropdown-content{
    display: block;
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.dropdown:hover:not(:active){
    opacity: 0.8;
}
.entrance{
    position: fixed;
    top: 13px;
    left: 1750px;
    border-radius: 29px;
    height: auto;
    width: 40px;
    font-size: 18px;
    border: 1px solid  rgb(255, 249, 217);
    padding: 5px 10px;
    color:  rgb(255, 249, 217);
}
.entrance:hover{
    color: black;
    position: fixed;
    top: 7px;
    border: 1px solid  rgb(255, 249, 217);
    padding: 10px 10px;
    background-color: rgb(255, 249, 217);
    transition: background-color 0.4s ease;
}
.watch-anime{
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 900px;
    color: rgb(255, 249, 217);
    font-weight: 500;
}
.watch-anime:hover{
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
 }
.watch-anime:hover:not(:active){
    opacity: 0.8;
}
.sun-img{
    position: fixed;
    top: 10px;
    left: 1510px;
    width: 40px;
    height: auto;
    color:  rgb(255, 249, 217);
}
.night-img{
    display: none;
    position: fixed;
    top: 10px;
    left: 1510px;
    width: 40px;
    height: auto;
    color:  rgb(255, 249, 217);
}
.navbar-information{
    position: absolute;
    width: 1405px;
    height: 360px;
    background-color: black;
    left: 500px;
    border-radius: 16px;
}
.information-menu{
    background-color: rgb(255, 249, 217);
    border-radius: 30px;
    padding: 10px 10px;
    border: 1px solid  rgb(255, 249, 217);
    font-size: 30px;
    color: black;
    transform: translateX(410px) translateY(10px); 
    float: left;
    margin-left: 200px;
}
.information-text{
    border-radius: 20px;
    width: 1352px;
    height: 256px;
    padding: 5px 5px;
    background-color: rgb(255, 249, 217);
    border: 1px solid rgb(255, 249, 217);
    position: fixed;
    left: 520px;
    top: 630px;
    color: black;
    font-size: 20px;
}
.read-book{
    background-image: linear-gradient(to left, #f1760b 0%, #ec200a 100%);
    position: absolute;
    left: 253px;
    top: 810px;
    width: 225px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
}
.read-book:hover{
    background-image: linear-gradient(to top,  #f1760b 0%, #ec200a 100%);
}
.read-book:active {
    background-image: linear-gradient(to top, rgb(28, 200, 238), rgb(91, 16, 222));
  }