@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Eater&family=Kdam+Thmor+Pro&family=Montserrat:wght@700&family=Mukta&family=Noto+Serif&family=Rubik:wght@500&family=Signika+Negative:wght@500&family=Unbounded:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body {
    background-color :rgb(255, 249, 217);
    width: auto;    
}

.katalog{
    width: 100px;
    height: 20px;
    border: 1px solid rgb(28, 19, 19);
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(224, 223, 223);
    text-align: center;
    cursor: pointer;
    list-style-type: none;
    position: absolute;
    left: 40px;
    top: 10px;
    background-color: transparent;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    opacity: 1;
    display: flex; /* Делаем навигационное меню flex-контейнером */
    justify-content: space-between; /* Выравниваем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.site-name {
    color: rgb(255, 249, 217);
    font-size: 45px;
    font-family: 'Cabin Sketch', sans-serif;
    margin-left: 20px; /* Добавляем небольшой отступ слева */
}

.navbar-text-menu {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Добавляем небольшой отступ справа */
}

.bleach-janr,
.bleach-glav-and-tom,
.bleach-status,
.bleach-tim-anime,
.bleach-type{
    font-size: 24px;
}

.top-manga,
.new-anime,
.watch-anime,
.search,
.regestration,
.entrance,
.sun-img,
.night-img {
    margin-left: 20px; /* Добавляем отступ между элементами */
}

.katalog{
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 500px;
    color: rgb(255, 249, 217);
}
.top-manga {
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 650px;
    color: rgb(255, 249, 217);
    font-weight: 500;
}
.top-manga:hover {
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
 }
.top-manga:hover:not(:active) {
    opacity: 0.8;
}
  
.new-anime{
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 780px;
    color: rgb(255, 249, 217);
    font-weight: 500;
}
.new-anime:hover {
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
 }
.new-anime:hover:not(:active) {
    opacity: 0.8;
}
.search-icon{
    color:  rgb(255, 249, 217);
    position: fixed;
    left: 1150px;
    top: 20px;
}
.search{
    position: fixed;
    top: 15px;
    left: 1180px;
    border: 0;
    border-radius: 16px;
    width: 200px;
    height: 30px;
    
}
.regestration{
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 1600px;
    color: rgb(255, 249, 217);
    font-weight: 500;
}
.regestration:hover {
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
 }
.regestration:hover:not(:active) {
    opacity: 0.8;
}
.dropdown{
    z-index: 10;
    position: fixed;
    top: 8px;
    left: 530px;
    display: inline-block;
}
  
.dropdown-button{
    background-color: black;
    color: rgb(255, 249, 217);
    padding: 10px;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
}
  
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    color: rgb(255, 254, 245);
    list-style: none;
    padding: 0px;
    margin: 0px;
}
  
.dropdown-content li a{
    display: block;
    padding: 10px;
    text-decoration: none;
}
  
.dropdown:hover .dropdown-content{
    display: block;
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.dropdown:hover:not(:active){
    opacity: 0.8;
}
.entrance{
    position: fixed;
    top: 13px;
    left: 1750px;
    border-radius: 29px;
    height: auto;
    width: 40px;
    font-size: 18px;
    border: 1px solid  rgb(255, 249, 217);
    padding: 5px 10px;
    color:  rgb(255, 249, 217);
}
.entrance:hover{
    color: black;
    position: fixed;
    top: 7px;
    border: 1px solid  rgb(255, 249, 217);
    padding: 10px 10px;
    background-color: rgb(255, 249, 217);
    transition: all 0.4s ease;
}
.watch-anime{
    font-size: 18px;
    position: fixed;
    top: 18px;
    left: 900px;
    color: rgb(255, 249, 217);
    font-weight: 500;
}
.watch-anime:hover{
    border: 1px solid rgb(255, 249, 217);
    background-color: rgb(255, 249, 217);
    color: black;
    transform: scale(1.1) ease-in-out 0.8s, background-color cubic-bezier(0.4, 0.0, 0.2, 1.0) 0.3s;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
 }
.watch-anime:hover:not(:active){
    opacity: 0.8;
}
.sun-img{
    position: fixed;
    top: 10px;
    left: 1510px;
    width: 40px;
    height: auto;
    color:  rgb(255, 249, 217);
}
.night-img{
    display: none;
    position: fixed;
    top: 10px;
    left: 1510px;
    width: 40px;
    height: auto;
    color:  rgb(255, 249, 217);
}
.bleach{
    z-index: 1;
}
.navbar-bleach{
    z-index: 1;
    transform: translateY(100px);
    width: 1500px;
    height: 300px;
    background-color: black;
    margin: 0 auto; 
}
.eva{
    z-index: 1;
}
.navbar-eva{
    z-index: 1;
    transform: translateY(100px);
    width: 1500px;
    height: 300px;
    background-color: black;
    margin: 0 auto; 
}
/* Адаптивные стили для экранов до 1900px */
@media screen and (max-width: 1900px) {
    .site-name {
        left: 5%;
        font-size: 36px; /* Уменьшаем размер имени сайта */
    }
}

/* Адаптивные стили для экранов до 1440px */
@media screen and (max-width: 1440px) {
    .site-name{
        font-size: 28px;
    }
    .dropdown{
        left: 20%;
    } 
    .top-manga {
        left: 34%;
    }
    .new-anime {
        left: 51%;
    }
    .watch-anime {
        left: 64%;
    }
    .search-icon {
        display: none;
    }
    .search {
        display: none;
    }
    .regestration {
        left: 89%;
    }
    .entrance {
        left: 81%;
    }
    .navbar-bleach,
    .navbar-eva {
        width: 90%;
    }
}

/* Адаптивные стили для экранов до 768px */
@media screen and (max-width: 768px) {
    .site-name {
        display: block;
        text-align: center;
        position: static;
        margin: 0 auto;
        font-size: 34px; /* Уменьшаем размер имени сайта для маленьких экранов */
    } 
    .dropdown,
    .watch-anime,
    .search-icon,
    .search,
    .sun-img,
    .top-manga,
    .new-anime,
    .entrance,
    .regestration {
        display: none; /* Удаляем некоторые элементы для маленьких экранов */
    }

}

/* Адаптивные стили для экранов до 320px */
@media screen and (max-width: 320px) {
    .site-name {
        font-size: 18px;
    }

    .top-manga,
    .new-anime,
    .watch-anime {
        font-size: 12px;
    }

    .dropdown {
        position: static;
        width: 100%;
    }

    .dropdown-button {
        width: 100%;
    }

    .dropdown-content {
        width: 100%;
    }

    .sun-img,
    .night-img {
        display: none;
    }
}
